.mat-card {
  padding: 15px;
  max-width: 500px;

  .form {
    padding: 20px;
    min-width: 150px;
  
    .mat-form-field {
      padding: 5px 0px 15px 2px;
      max-width: 50%;
    }

    .save-btn {
      margin-top: 20px;
      text-align: center;

      .mat-raised-button {
        max-width: 200px;

        &.mat-primary {
          margin-right: 20px;
        }
      }
    }

    .contract-employee-row {
      text-align: left;

      .mat-form-field {
        display: inline-block;
        width: 25%;
        margin-right: 10px;
      }

      .handset-delete {
        display: none;
      }
    }

    &.handset {
      padding: 10px;

      .mat-form-field {
        max-width: none;
        width: 100%;
      }

      .contract-employee-row {
        .mat-form-field {
          width: 45%;
        }

        .employee {
          width: auto;
          margin-bottom: -30px;
        }

        .handset-delete {
          display: inline-block;
        }

        .desktop-delete {
          display: none;
        }
      }
    }
  }
}
