<app-header headerTitle="Dodaj nową umowę" showBackButton="true" backLink="./.."></app-header>

<div class="content-container" [class.handset]="isHandset$ | async">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nowa umowa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="contractForm" class="form" [class.handset]="isHandset$ | async" *ngIf="contractForm">
        <mat-form-field>
          <input matInput placeholder="Numer" formControlName="number">
			  	<mat-error *ngIf="contractForm.get('number').invalid">Pole jest wymagane!</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Opis" formControlName="description">
			  	<mat-error *ngIf="contractForm.get('description').invalid">Pole jest wymagane!</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Kwota" formControlName="amount" type="number">
			  	<mat-error *ngIf="contractForm.get('amount').invalid">Pole jest wymagane!</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Typ umowy" formControlName="contractType" [compareWith]="compareByContractTypeId">
            <mat-option *ngFor="let type of contractTypes" [value]="type">
              {{ type.name }}
            </mat-option>
          </mat-select>
			  	<mat-error *ngIf="contractForm.get('contractType').invalid">Pole jest wymagane!</mat-error>
        </mat-form-field>

        <h4>Osoby zaangażowane:</h4>
        <div formArrayName="contractEmployees" *ngFor="let item of contractForm.get('contractEmployees').controls; let i = index;">
          <div [formGroupName]="i" class="contract-employee-row">
            <mat-form-field class="employee">
              <mat-select placeholder="Pracownik" formControlName="employee" [compareWith]="compareByEmployeeId">
                <mat-option *ngFor="let employee of employees" [value]="employee">
                  {{ employee.fullName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button type="button" mat-button *ngIf="i > 0" (click)="deleteContractEmployee(i)" class="handset-delete"><mat-icon>delete</mat-icon></button>

            <mat-form-field>
              <input matInput placeholder="Udział w wycenie" formControlName="scopeValuation">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Udział w pomiarze" formControlName="scopeMeasurement">
            </mat-form-field>

            <button type="button" mat-button *ngIf="i > 0" (click)="deleteContractEmployee(i)" class="desktop-delete"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
        
        <button mat-stroked-button color="primary" type="button" (click)="addContractEmployee()">Dodaj osobę</button>

        <div class="save-btn">
          <button mat-raised-button color="primary" type="submit" (click)="save()">Zapisz</button>
          <button mat-raised-button type="button" [routerLink]="['./..']">Anuluj</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
