<h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>{{modalQuestion}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
