<app-header headerTitle="Lista pracowników"></app-header>

<div class="content-container" [class.handset]="isHandset$ | async">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj" #searchField>
        <button mat-button *ngIf="searchField.value" matSuffix mat-icon-button aria-label="Wyczyść" (click)="searchField.value=''; applyFilter('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
          
      <table mat-table class="full-width-table" [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let row">{{ row.employeeId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
          <td mat-cell *matCellDef="let row"><a [routerLink]="['./', row.employeeId, 'edit']" class="edit-link">{{ row.fullName }}</a></td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="roleName">
          <th mat-header-cell *matHeaderCellDef>Stanowisko</th>
          <td mat-cell *matCellDef="let row">{{ row.role.roleName }}</td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="!(isHandset$ | async)">
              <button type="button" mat-icon-button matTooltip="Edycja" [routerLink]="['./', row.employeeId, 'edit']">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button matTooltip="Usuń" (click)="deleteEmployee(row.employeeId)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <div *ngIf="isHandset$ | async">
              <mat-menu #userMenu="matMenu">
                  <button type="button" mat-menu-item [routerLink]="['./', row.employeeId, 'edit']">Edycja</button>
                  <button type="button"mat-menu-item (click)="deleteEmployee(row.employeeId)">Usuń</button>
              </mat-menu>
              <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu">
                  <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <button mat-fab [routerLink]="'./new'">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
