.mat-card {
  padding: 15px;
  max-width: 500px;

  .form {
    padding: 20px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
  
    .mat-form-field {
      padding: 5px 0px 25px 2px;
      text-align: right;
      max-width: 50%;

      ::ng-deep .mat-form-field-infix {
        padding-right: 5px;
      }
    }

    .save-btn {
      text-align: center;
      
      .mat-raised-button {
        max-width: 200px;
      }
    }

    &.handset {
      .mat-form-field {
        max-width: none;
        width: 100%;
      }
    }
  }
}
