<app-header headerTitle="Ustawienia"></app-header>

<div class="content-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Ustawienia główne</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="settingsForm" class="form" [class.handset]="isHandset$ | async" *ngIf="settingsForm">
        <mat-form-field>
          <input matInput placeholder="Premia za pomiar" formControlName="measurementBonus">
          <span matSuffix>%</span>
          <mat-error *ngIf="settingsForm.controls['measurementBonus'].invalid">Proszę podać wysokość premii!</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Premia za wycenę" formControlName="valuationBonus">
          <span matSuffix>%</span>
          <mat-error *ngIf="settingsForm.controls['valuationBonus'].invalid">Proszę podać wysokość premii!</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Premia za finalizację" formControlName="finalizationBonus">
          <span matSuffix>%</span>
          <mat-error *ngIf="settingsForm.controls['finalizationBonus'].invalid">Proszę podać wysokość premii!</mat-error>
        </mat-form-field>

        <div class="save-btn">
          <button mat-raised-button color="primary" type="submit" (click)="saveSettings()">Zapisz</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
