<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" *ngIf="authService.isLoggedIn$ | async"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of links" [routerLink]="link.target" (click)="closeSideNavOnClick()"
         [class.disabled]="link.disabled" routerLinkActive="active">
        {{ link.name }}
        <mat-icon matBadge="{{ link.count }}" [matBadgeHidden]="!link.count"></mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
