.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a.active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed; 
  opacity: 0.5;
}
