<mat-toolbar color="primary">
  <div *ngIf="!showBackButton">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenavService.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div>
  <button mat-icon-button [routerLink]="backLink" *ngIf="showBackButton">
    <mat-icon>arrow_back</mat-icon>
  </button>
  
  <span>{{ headerTitle }}</span>
</mat-toolbar>
