<app-header headerTitle="Informacje o pracowniku" showBackButton="true" backLink="./.."></app-header>

<div class="content-container" [class.handset]="isHandset$ | async">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pracownik: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="employeeForm" class="form" [class.handset]="isHandset$ | async" *ngIf="employeeForm">
        <mat-form-field>
          <input matInput placeholder="Imię" formControlName="firstName">
			  	<mat-error *ngIf="employeeForm.get('firstName').invalid">Pole jest wymagane!</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Nazwisko" formControlName="lastName">
			  	<mat-error *ngIf="employeeForm.get('lastName').invalid">Pole jest wymagane!</mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Stanowisko" formControlName="role" [compareWith]="compareByRole">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role.roleName }}
            </mat-option>
          </mat-select>
			  	<mat-error *ngIf="employeeForm.get('role').invalid">Pole jest wymagane!</mat-error>
        </mat-form-field>

        <div class="save-btn">
          <button mat-raised-button color="primary" type="submit" (click)="save()">Zapisz</button>
          <button mat-raised-button type="button" [routerLink]="['/employees']">Anuluj</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
