.mat-card {
  padding: 15px;
  max-width: 500px;

  .form {
    padding: 20px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
  
    .mat-form-field {
      padding: 5px 0px 15px 2px;
      max-width: 50%;
    }

    .save-btn {
      text-align: center;

      .mat-raised-button {
        max-width: 200px;

        &.mat-primary {
          margin-right: 20px;
        }
      }
    }

    &.handset {
      .mat-form-field {
        max-width: none;
        width: 100%;
      }
    }
  }
}
