/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-transition .mat-drawer-backdrop {
  transition: none !important;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 0;
  font-weight: 400;
}

.content-container {
  padding: 15px;

  .mat-card-header-text {
    margin: 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .full-width-table {
    width: 100%;
  }
  
  &.handset {
    padding: 8px;

    .mat-toolbar-single-row {
      padding: 0 8px;
    }
    
    .mat-card {
      padding: 8px;
    }
    
    .mat-form-field {
      padding: 12px;
    }

    td.mat-column-details {
      width: auto;
    }

    .mat-cell {
      font-size: 12px;
    }

    td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
      padding-left: 12px;
    }

    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
      padding-right: 0;
    } 
  }
}

