<mat-toolbar color="primary">
  <span>BonusMode System</span>
</mat-toolbar>

<mat-card class="login-card" [class.handset]="isHandset$ | async">
  <mat-card-content>
	 	<form [formGroup]="loginForm">
			<mat-form-field>
				<input matInput placeholder="Email" formControlName="email" autocomplete="username">
				<mat-error *ngIf="loginForm.get('email').invalid">{{ getEmailErrorMessage() }}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Password" type="password" formControlName="password" autocomplete="current-password">
				<mat-error *ngIf="loginForm.get('password').invalid">Hasło jest wymagane!</mat-error>
			</mat-form-field>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button type="button" mat-raised-button (click)="login()" color="primary">LOGOWANIE</button>
	</mat-card-actions>
</mat-card>
