.login-card {
  width: 30%;
}

.mat-card {
  margin: 40px auto 0;
  padding: 50px 0;

  .mat-card-content, .mat-card-actions {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }

  .mat-form-field {
    display: block;
  }

  &.handset {
    width: 90%;
  }
}
