.mat-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.mat-card-header .mat-card-subtitle {
  margin-top: 0;
  display: flex;
}

.finished, .accounted {
  font-size: 14px;
  display: flex;
  line-height: 24px;
  margin-right: 20px;

  .mat-icon {
    margin-left: 10px;
  }
}

.mat-card-content {
  .label {
    text-transform: uppercase;
    font-weight: 500;
    width: 200px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    line-height: 40px;
    border-bottom: 1px solid #cecece;
    padding-right: 10px;
  }

  .description {
    .label {
      vertical-align: top;
    }    
    .value {
      display: inline-block;
      width: 50%;
      padding-top: 12px;
    }
  }

  .employees {
    .label {
      vertical-align: top;
    }

    .value {
      display: inline-block;

      .name {
        padding: 12px 0 6px;
      }

      .scope {
        font-size: 12px;
        color: #999;
      }
    }
  }

  &.handset {
    .label {
      width: auto;
      display: block;
      text-align: left;
      margin-right: 0;
      line-height: 30px;
      margin-bottom: 5px;
    }

    .row {
      margin-bottom: 10px;
    }

    .description .value {
      width: auto;
      padding-top: 0;
    }

    .employees .value .name {
      padding-top: 0;
    }
  }
}
