<app-header headerTitle="Szczególy umowy" showBackButton="true" backLink="./../.."></app-header>

<div class="content-container">
  <mat-card *ngIf="contract">
    <mat-card-header>
      <mat-card-title>Umowa nr: {{ contract.number }}</mat-card-title>
      <mat-card-subtitle>
        <span class="finished">Zakończone: <mat-icon [matTooltip]="contract.finished ? 'Tak' : 'W trakcie'">{{ contract.finished ? 'done' : 'schedule' }}</mat-icon></span>
        <span class="accounted">Rozliczone: <mat-icon [matTooltip]="contract.accounted ? 'Tak' : 'W trakcie'">{{ contract.accounted ? 'done' : 'schedule' }}</mat-icon></span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [class.handset]="isHandset$ | async">
      <div class="row description">
        <span class="label">Opis</span>
        <span class="value">{{ contract.description }}</span>
      </div>
      
      <div class="row">
        <span class="label">Kwota</span>
        <span class="value">{{ contract.amount }} zł</span>
      </div>
      
      <div class="row">
        <span class="label">Data utworzenia</span>
        <span class="value">{{ contract.createdAt | date:'dd.MM.y HH:mm' }}</span>
      </div>
      
      <div class="row">
        <span class="label">Data ostatniej edycji</span>
        <span class="value">{{ contract.updatedAt | date:'dd.MM.y HH:mm' }}</span>
      </div>
      
      <div class="row">
        <span class="label">Typ</span>
        <span class="value">{{ contract.contractType.name }}</span>
      </div>
      
      <div class="row employees">
        <span class="label">Osoby zaangażowane</span>
        <span class="value">
          <span>
            <div *ngFor="let contractEmployee of contract.contractEmployees" class="employee">
              <div class="name">{{ contractEmployee.employee.fullName }}</div>
              <div class="scope">Udział w wycenie: {{ contractEmployee.scopeValuation }}%</div>
              <div class="scope">Udział w pomiarze: {{ contractEmployee.scopeMeasurement }}%</div>
            </div>
          </span>
        </span>
      </div>

      <button mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
