<app-header headerTitle="Lista umów"></app-header>

<div class="content-container" [class.handset]="isHandset$ | async">
  <mat-card>
    <mat-card-content>
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
          
      <table mat-table class="full-width-table" [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let row">{{ row.contractId }}</td>
        </ng-container>

        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Numer</th>
          <td mat-cell *matCellDef="let row"><a [routerLink]="['./', row.contractId, 'details']" class="details-link">{{ row.number }}</a></td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Opis</th>
          <td mat-cell *matCellDef="let row">{{ row.description | truncate }}</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Kwota</th>
          <td mat-cell *matCellDef="let row">{{ row.amount | currency:'PLN':'' }} zł</td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="!(isHandset$ | async)">
              <button type="button" mat-icon-button matTooltip="Podgląd" [routerLink]="['./', row.contractId, 'details']">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <button type="button" mat-icon-button matTooltip="Edycja" [disabled]="row.finished">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button matTooltip="Usuń" [disabled]="true">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-icon-button matTooltip="Zakończ" *ngIf="!row.finished" (click)="finishContract(row)">
                <mat-icon>check</mat-icon>
              </button>
            </div>

            <div *ngIf="isHandset$ | async">
              <mat-menu #userMenu="matMenu">
                  <button type="button" mat-menu-item [routerLink]="['./', row.contractId, 'details']">Podgląd</button>
                  <button type="button" mat-menu-item>Edycja</button>
                  <button type="button" mat-menu-item>Usuń</button>
                  <button type="button" mat-menu-item *ngIf="!row.finished" (click)="finishContract(row)">Zakończ</button>
              </mat-menu>
              <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu">
                  <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <button mat-fab [routerLink]="'./new'">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
