.mat-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

td.mat-column-id {
  width: 40px;
}

td.mat-column-details {
  width: 160px;
}
  
.details-link {
  text-decoration: none;
  color: #000;
}

.handset {
  td.mat-column-id {
    width: 26px;
  }
  
  td.mat-column-description {
    padding-left: 10px;
  }
}